#
# {{ ansible_managed }}
#

{% if include is defined %}
$include {{ include }}
{% endif %}

{% for option in options %}
{%- if option.value is string -%}
set {{ option.name }} {{ option.value }}
{%- else -%}
set {{ option.name }} {{ option.value | bool | ternary('on', 'off') }}
{%- endif -%}
{% endfor %}

{% for bind in bindings %}
{% if bind.condition is defined %}
$if {{ bind.condition }}
{% endif %}
"{{ bind.key }}": {{ bind.function }}
{% if bind.condition is defined %}
$endif
{% endif %}
{% endfor %}
